news.yahoo.co.jp###contentsWrap > div.ArticleCommentFloating__ComponentBalloon-kzfzJH.fAtjVq:last-child > div.ArticleCommentFloating__ArticleCommentFloatingWrapper-NtyCg.fPaOUI
news.yahoo.co.jp###articleCommentModule > div.ArticleComment__Wrapper-kXYTps.gfAtHX:nth-child(2) > div.Comment__Wrapper-jcoYSL.hhgBgR.news-comment-plugin > iframe.news-comment-plguin-iframe
news.yahoo.co.jp###articleCommentModule > div.ArticleComment__CheckBoxWrapper-jOZEHi.dlUlLa:last-child
news.yahoo.co.jp###yjnFixableArea > div.yjnSub_list > section.yjnSub_section:nth-child(10)
news.yahoo.co.jp###yjnFixableArea > div.yjnSub_list > section.yjnSub_section:nth-child(8)
news.yahoo.co.jp###yjnSub
news.yahoo.co.jp###uamods-also_read
news.yahoo.co.jp###newsFeed
news.yahoo.co.jp###comment-count > a.sc-hBbWxd.bJEBzN > span.count
news.yahoo.co.jp###contentsWrap > section.sc-bXtxjY.bYYppR.viewableWrap:nth-child(3) > div.sc-dyKSPo.isautj:nth-child(2) > div.sc-bsbRJL.ijxMmC.news-comment-plugin > iframe.news-comment-plguin-iframe
news.yahoo.co.jp###contentsWrap > section.sc-bXtxjY.bYYppR.viewableWrap:nth-child(3) > div.sc-kVyEtE.hjtNNZ:last-child
